.subject {
  padding: 15px;
  border-bottom: solid black 1.5px;
}
#horizontal {
  display: grid;
  grid-template-columns: 20% 80%;
}
#horizontal .paragraph {
  padding: 10px;
  border-left: solid black 1px;
}
a  {
  color:black;
}

@media(max-width:650px) {
    .subject {
      text-align: center;
      padding: 15px;
      border-bottom: solid black 1.5px;
    }
    #horizontal {
      grid-template-columns: auto;
    }
    #horizontal .paragraph {
      padding: 10px;
      border :0px; /*none으로 설정하자.*/
      border-top: solid black 1px;
      font-size: 20px;
      font-style: italic;
    }
  }
}
