body, html {
  height: 100%;
  margin: 0;
}
h2 {
  display:inline;
}
#vertical {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  height: 90%;
  text-align: center;
  position: relative;
}
#horzental {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 10%;
  width: 100%;
}
.headbox {
  padding: 50px;
  font-size: 30px;
}
.copyright {
  font-size: 15px;
  padding: 10px;
  text-align: right;
}
input {
  margin-left: 15px;
}
.box01 {
	padding:20px;
	font-size:25px;
}
.box02 {
	padding:15px;
	margin-left:20px;
	font-size:20px;
}
li {
	font-size:30px;
	padding:10px;
}
